<h1 id="intro">Intro</h1>
<p>Having scanned a space (a forest) in voxels, coding as 0 non empty cells, The procedure computes the percolation in each of the 3 dimensions, identifying percolating clusters (in that dimension) and their smallest section (orthogonal to that direction). Moreover, total number of cells is computed for each percolatin (in any direction) cluster. The procedure is tested using a random matrix as input.</p>
<h2 id="set-up">Set up</h2>
<div class="sourceCode" id="cb1"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb1-1" data-line-number="1"><span class="kw">library</span>(tidyverse)</a></code></pre></div>
<pre><code>## -- Attaching packages --------------------------------------- tidyverse 1.2.1 --</code></pre>
<pre><code>## v ggplot2 3.2.1     v purrr   0.3.2
## v tibble  2.1.3     v dplyr   0.8.3
## v tidyr   1.0.0     v stringr 1.4.0
## v readr   1.3.1     v forcats 0.4.0</code></pre>
<pre><code>## -- Conflicts ------------------------------------------ tidyverse_conflicts() --
## x dplyr::filter() masks stats::filter()
## x dplyr::lag()    masks stats::lag()</code></pre>
<div class="sourceCode" id="cb5"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb5-1" data-line-number="1"><span class="kw">library</span>(mmand)</a></code></pre></div>
<h2 id="functions">Functions</h2>
<div class="sourceCode" id="cb6"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb6-1" data-line-number="1"><span class="co"># --- subset &#39;a&#39;, taking slice &#39;i&#39;, in dimensions &#39;s&#39; ---</span></a>
<a class="sourceLine" id="cb6-2" data-line-number="2">slice &lt;-<span class="st"> </span><span class="cf">function</span>(a, s, i){</a>
<a class="sourceLine" id="cb6-3" data-line-number="3">  a[<span class="kw">which</span>(<span class="kw">slice.index</span>(a, <span class="kw">c</span>(s)) <span class="op">==</span><span class="st"> </span>i, <span class="dt">arr.ind =</span> <span class="ot">TRUE</span>)]</a>
<a class="sourceLine" id="cb6-4" data-line-number="4">}</a>
<a class="sourceLine" id="cb6-5" data-line-number="5"></a>
<a class="sourceLine" id="cb6-6" data-line-number="6"><span class="co"># --- labels of percolating clusters (along dimension &#39;s&#39;) ---</span></a>
<a class="sourceLine" id="cb6-7" data-line-number="7">slice_intersect &lt;-<span class="st"> </span><span class="cf">function</span>(a, s){</a>
<a class="sourceLine" id="cb6-8" data-line-number="8">  t1 &lt;-<span class="st"> </span><span class="kw">table</span>(<span class="kw">slice</span>(a, s, <span class="dv">1</span>))</a>
<a class="sourceLine" id="cb6-9" data-line-number="9">  t2 &lt;-<span class="st"> </span><span class="kw">table</span>(<span class="kw">slice</span>(a, s, <span class="kw">dim</span>(a)[s]))</a>
<a class="sourceLine" id="cb6-10" data-line-number="10">  <span class="kw">intersect</span>(<span class="kw">unlist</span>(<span class="kw">dimnames</span>(t1)), <span class="kw">unlist</span>(<span class="kw">dimnames</span>(t2)))</a>
<a class="sourceLine" id="cb6-11" data-line-number="11">}</a>
<a class="sourceLine" id="cb6-12" data-line-number="12"></a>
<a class="sourceLine" id="cb6-13" data-line-number="13"><span class="co"># --- smallest section of cluster &#39;cl&#39; orthogonal to dimension &#39;s&#39; ---</span></a>
<a class="sourceLine" id="cb6-14" data-line-number="14">min_cl_sect &lt;-<span class="st"> </span><span class="cf">function</span>(c, s, cl){</a>
<a class="sourceLine" id="cb6-15" data-line-number="15">  min_sect &lt;-<span class="st"> </span><span class="ot">NA</span></a>
<a class="sourceLine" id="cb6-16" data-line-number="16">  <span class="cf">for</span>(i <span class="cf">in</span> <span class="dv">1</span><span class="op">:</span><span class="kw">dim</span>(c)[s]){</a>
<a class="sourceLine" id="cb6-17" data-line-number="17">    sect &lt;-<span class="st"> </span><span class="kw">table</span>(<span class="kw">slice</span>(c, s, i))[cl]</a>
<a class="sourceLine" id="cb6-18" data-line-number="18">    <span class="cf">if</span>(<span class="kw">is.na</span>(min_sect)) min_sect &lt;-<span class="st"> </span>sect</a>
<a class="sourceLine" id="cb6-19" data-line-number="19">    <span class="cf">if</span>(min_sect <span class="op">&gt;</span><span class="st"> </span>sect) min_sect &lt;-<span class="st"> </span>sect</a>
<a class="sourceLine" id="cb6-20" data-line-number="20">  }</a>
<a class="sourceLine" id="cb6-21" data-line-number="21">  <span class="kw">return</span>(min_sect)</a>
<a class="sourceLine" id="cb6-22" data-line-number="22">}</a>
<a class="sourceLine" id="cb6-23" data-line-number="23"></a>
<a class="sourceLine" id="cb6-24" data-line-number="24"><span class="co"># --- percolation statistics ---</span></a>
<a class="sourceLine" id="cb6-25" data-line-number="25"><span class="co">#     a list with tibbles:</span></a>
<a class="sourceLine" id="cb6-26" data-line-number="26"><span class="co">#        min_sect_t: percolating clusters, by dimension, with min_sect</span></a>
<a class="sourceLine" id="cb6-27" data-line-number="27"><span class="co">#        cl_ncell_t: number of cells for each perc. cl</span></a>
<a class="sourceLine" id="cb6-28" data-line-number="28">percolation_sts &lt;-<span class="st"> </span><span class="cf">function</span>(space, <span class="dt">k =</span> <span class="ot">NA</span>){</a>
<a class="sourceLine" id="cb6-29" data-line-number="29">  <span class="cf">if</span>(<span class="kw">is.na</span>(k)){</a>
<a class="sourceLine" id="cb6-30" data-line-number="30">    <span class="co"># kernel - von Newmann 3d connections</span></a>
<a class="sourceLine" id="cb6-31" data-line-number="31">    k &lt;-<span class="st"> </span><span class="kw">array</span>(<span class="kw">c</span>(</a>
<a class="sourceLine" id="cb6-32" data-line-number="32">      <span class="dv">0</span>, <span class="dv">0</span>, <span class="dv">0</span>, </a>
<a class="sourceLine" id="cb6-33" data-line-number="33">      <span class="dv">0</span>, <span class="dv">1</span>, <span class="dv">0</span>, </a>
<a class="sourceLine" id="cb6-34" data-line-number="34">      <span class="dv">0</span>, <span class="dv">0</span>, <span class="dv">0</span>,</a>
<a class="sourceLine" id="cb6-35" data-line-number="35">      </a>
<a class="sourceLine" id="cb6-36" data-line-number="36">      <span class="dv">0</span>, <span class="dv">1</span>, <span class="dv">0</span>, </a>
<a class="sourceLine" id="cb6-37" data-line-number="37">      <span class="dv">1</span>, <span class="dv">1</span>, <span class="dv">1</span>, </a>
<a class="sourceLine" id="cb6-38" data-line-number="38">      <span class="dv">0</span>, <span class="dv">1</span>, <span class="dv">0</span>,</a>
<a class="sourceLine" id="cb6-39" data-line-number="39">      </a>
<a class="sourceLine" id="cb6-40" data-line-number="40">      <span class="dv">0</span>, <span class="dv">0</span>, <span class="dv">0</span>, </a>
<a class="sourceLine" id="cb6-41" data-line-number="41">      <span class="dv">0</span>, <span class="dv">1</span>, <span class="dv">0</span>, </a>
<a class="sourceLine" id="cb6-42" data-line-number="42">      <span class="dv">0</span>, <span class="dv">0</span>, <span class="dv">0</span>),</a>
<a class="sourceLine" id="cb6-43" data-line-number="43">      <span class="dt">dim =</span> <span class="kw">c</span>(<span class="dv">3</span>, <span class="dv">3</span>, <span class="dv">3</span>))</a>
<a class="sourceLine" id="cb6-44" data-line-number="44">  }</a>
<a class="sourceLine" id="cb6-45" data-line-number="45">  </a>
<a class="sourceLine" id="cb6-46" data-line-number="46">  clusters &lt;-<span class="st"> </span><span class="kw">components</span>(x,k)</a>
<a class="sourceLine" id="cb6-47" data-line-number="47">  <span class="co"># labels k-adiacent cells with the cluster id number</span></a>
<a class="sourceLine" id="cb6-48" data-line-number="48">  <span class="co"># considering zero-cells as &#39;non-adiacent&#39;</span></a>
<a class="sourceLine" id="cb6-49" data-line-number="49">  </a>
<a class="sourceLine" id="cb6-50" data-line-number="50">  <span class="co"># for each dimension: </span></a>
<a class="sourceLine" id="cb6-51" data-line-number="51">  <span class="co">#  find pecolating clusters, their volume and min section</span></a>
<a class="sourceLine" id="cb6-52" data-line-number="52">  </a>
<a class="sourceLine" id="cb6-53" data-line-number="53">  min_sect_t &lt;-<span class="st"> </span><span class="kw">tibble</span>()</a>
<a class="sourceLine" id="cb6-54" data-line-number="54">  <span class="co"># dim_num, pc_lbl, pc_min_sect</span></a>
<a class="sourceLine" id="cb6-55" data-line-number="55">  <span class="cf">for</span>(d <span class="cf">in</span> <span class="dv">1</span><span class="op">:</span><span class="kw">length</span>(<span class="kw">dim</span>(clusters))){</a>
<a class="sourceLine" id="cb6-56" data-line-number="56">    pcs &lt;-<span class="st"> </span><span class="kw">slice_intersect</span>(clusters, d)</a>
<a class="sourceLine" id="cb6-57" data-line-number="57">    <span class="cf">if</span>(<span class="op">!</span><span class="kw">is_empty</span>(pcs)) {</a>
<a class="sourceLine" id="cb6-58" data-line-number="58">      <span class="cf">for</span>(pc <span class="cf">in</span> pcs){</a>
<a class="sourceLine" id="cb6-59" data-line-number="59">        ms &lt;-<span class="st"> </span><span class="kw">min_cl_sect</span>(clusters, d, pc)</a>
<a class="sourceLine" id="cb6-60" data-line-number="60">        min_sect_t &lt;-<span class="st"> </span><span class="kw">bind_rows</span>(min_sect_t,</a>
<a class="sourceLine" id="cb6-61" data-line-number="61">          <span class="kw">tibble</span>(<span class="dt">dim_num =</span> d, <span class="dt">pc_lbl =</span> pc, <span class="dt">pc_min_sect =</span> ms))</a>
<a class="sourceLine" id="cb6-62" data-line-number="62">      }</a>
<a class="sourceLine" id="cb6-63" data-line-number="63">    }</a>
<a class="sourceLine" id="cb6-64" data-line-number="64">  }</a>
<a class="sourceLine" id="cb6-65" data-line-number="65">  </a>
<a class="sourceLine" id="cb6-66" data-line-number="66">  cl_ncell_t &lt;-<span class="st"> </span><span class="kw">tibble</span>()</a>
<a class="sourceLine" id="cb6-67" data-line-number="67">  <span class="co"># pc_lbl, pc_ncells</span></a>
<a class="sourceLine" id="cb6-68" data-line-number="68">  <span class="cf">if</span>(<span class="kw">nrow</span>(min_sect_t) <span class="op">&gt;</span><span class="st"> </span><span class="dv">0</span>) {</a>
<a class="sourceLine" id="cb6-69" data-line-number="69">    cl_ncell_t &lt;-<span class="st"> </span><span class="kw">tibble</span>( </a>
<a class="sourceLine" id="cb6-70" data-line-number="70">           <span class="dt">pc_lbl =</span> <span class="kw">unique</span>(min_sect_t<span class="op">$</span>pc_lbl),</a>
<a class="sourceLine" id="cb6-71" data-line-number="71">           <span class="dt">pc_ncells =</span> <span class="kw">table</span>(clusters)[pc_lbl]</a>
<a class="sourceLine" id="cb6-72" data-line-number="72">           )</a>
<a class="sourceLine" id="cb6-73" data-line-number="73">  }</a>
<a class="sourceLine" id="cb6-74" data-line-number="74">  <span class="kw">return</span>(<span class="kw">list</span>(<span class="dt">min_sect_t =</span> min_sect_t, cl_ncell_t))</a>
<a class="sourceLine" id="cb6-75" data-line-number="75">}</a></code></pre></div>
<h2 id="test-application">test application</h2>
<div class="sourceCode" id="cb7"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb7-1" data-line-number="1">p &lt;-<span class="st"> </span><span class="fl">.7</span></a>
<a class="sourceLine" id="cb7-2" data-line-number="2">x &lt;-<span class="st"> </span><span class="kw">array</span>(<span class="kw">sample</span>(<span class="dv">0</span><span class="op">:</span><span class="dv">1</span>, <span class="dv">1000</span>, <span class="dt">replace=</span>T,<span class="dt">prob=</span><span class="kw">c</span>(<span class="dv">1</span><span class="op">-</span>p, p)), <span class="dt">dim=</span><span class="kw">c</span>(<span class="dv">10</span>, <span class="dv">10</span>, <span class="dv">10</span>))</a>
<a class="sourceLine" id="cb7-3" data-line-number="3"><span class="kw">percolation_sts</span>(x)</a></code></pre></div>
<pre><code>## $min_sect_t
## # A tibble: 3 x 3
##   dim_num pc_lbl pc_min_sect
##     &lt;int&gt; &lt;chr&gt;        &lt;int&gt;
## 1       1 1               64
## 2       2 1               65
## 3       3 1               65
## 
## [[2]]
## # A tibble: 1 x 2
##   pc_lbl pc_ncells
##   &lt;chr&gt;      &lt;int&gt;
## 1 1            705</code></pre>
<div class="sourceCode" id="cb9"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb9-1" data-line-number="1">x <span class="op">%&gt;%</span><span class="st"> </span></a>
<a class="sourceLine" id="cb9-2" data-line-number="2"><span class="st">  </span>reshape2<span class="op">::</span><span class="kw">melt</span>() <span class="op">%&gt;%</span><span class="st"> </span></a>
<a class="sourceLine" id="cb9-3" data-line-number="3"><span class="st">  </span><span class="kw">filter</span>(Var3 <span class="op">%in%</span><span class="st"> </span><span class="kw">c</span>(<span class="dv">1</span>, <span class="dv">10</span>)) <span class="op">%&gt;%</span><span class="st"> </span></a>
<a class="sourceLine" id="cb9-4" data-line-number="4"><span class="st">  </span><span class="kw">ggplot</span>() <span class="op">+</span></a>
<a class="sourceLine" id="cb9-5" data-line-number="5"><span class="st">  </span><span class="kw">facet_wrap</span>(<span class="kw">vars</span>(Var3)) <span class="op">+</span></a>
<a class="sourceLine" id="cb9-6" data-line-number="6"><span class="st">  </span><span class="kw">geom_raster</span>(<span class="kw">aes</span>(Var1, Var2, <span class="dt">fill =</span> value))</a></code></pre></div>
<figure>
<img src="figure/unnamed-chunk-3-1.png" alt="plot of chunk unnamed-chunk-3" /><figcaption>plot of chunk unnamed-chunk-3</figcaption>
</figure>
